<div class="ui two column middle aligned grid">
    <div class="column">
     <%= link_to '新增部门员工', new_employee_path,remote: true, class: 'ui button green'%>
    </div>
    <div class="column">
        <div class="ui icon input right fluid">
            <input type="text" placeholder="搜索">
            <i class="search icon"></i>
        </div>
    </div>
</div> 
<table class="ui celled table">
	<thead>
		<tr>
			<th>中文名</th>
			<th>英文名</th>
			<th>性别</th>
			<th>所属部门</th>
			<th>职位</th>
			<th>办公电话</th>
			<th>手机号码</th>
			<th>QQ号码</th>
			<th>Email</th>
			<th>生日</th>
			<th colspan="2">操作</th>
		</tr>
	</thead>
	<tbody>
		<%= render partial: "employee", collection: @employees %>
	</tbody>
</table>
<%= link_to '返回部门管理', departments_path, class: 'ui button green'%>
<%= link_to '返回职位管理', positions_path, class: 'ui button green'%>
<!-- 新增弹出框 -->
<div class="ui modal" id="newEmployee">
	<i class="close icon"></i>
	<div class="header">新增部门员工</div>
	<div class="content"></div>
</div>

<div class="ui modal" id="editEmployee">
	<i class="close icon"></i>
	<div class="header">修改部门员工</div>
	<div class="content"></div>
</div>