<%= form_for @department,remote: true, html: {class: 'ui form'} do |p| %>
	<div class="field">
		<%=p.label :name %>
		<%=p.text_field :name %>
	</div>
	<%= p.submit class: 'ui button green'%>
	<div class="ui error message"></div>
<% end %>